<div class="nav-bar">
        <div class="menu-text">
            {% if qty_bikefit_today > 1 %}
                Seja bem vindo(a). Ja fizemos {{ qty_bikefit_today }} cálculos hoje! :)
            {% endif %}
        </div>
        <div class="menu-area">
            <ul class="menu">
                {% include 'messages.html'%}
                <li>
                    <a href="/" class="menu-link-active">bikefit <span class='arrow'>&#9656;</span></a>
                </li>
                <li>
                    <a href="{% url 'bikefit:previous_calcs' %}" class="menu-link-active">calculos anteriores <span class='arrow'>&#9656;</span></a>
                </li>
                <li>
                    <a href="{% url 'mural:mural' %}" class="menu-link-active">mural de mensagens <span class='arrow'>&#9656;</span></a>
                </li>
                <li>
                    <a href="{% url 'bikefit:bikefit_links' %}" class="menu-link-active">links <span class='arrow'>&#9656;</span></a>
                </li>
                <li>
                    <a href="{% url 'bikefit:bikefit_about' %}" class="menu-link-active">sobre <span class='arrow'>&#9656;</span></a>
                </li>
            </ul>
        </div>  
</div>