{% extends 'pcd/base.html' %}
{% load static %}
{% load to_virgula %}

{% block content %}
<div class="pcd-result-page">
    <div class='pcd-result-area'>
        {% if resultados %}
        {% for resultado in resultados %}
        <div class='pcd-previous-calcs-col'>
            <table class='pcd-table-previous-calcs'>
               <tr>
                  <th>código</th>
                  <th>próxima parcela</th>
                  <th>última parcela</th>
                  <th>quantidade parcelas</th>
                  <th>valor parcela</th>
               </tr>
               <tr>
                  <td>{{  resultado.banco.numero_codigo }}</td>
                  <td>{{  resultado.proxima_parcela|date:'d/m/Y' }}</td>
                  <td>{{  resultado.ultima_parcela|date:'d/m/Y' }}</td>
                  <td>{{  resultado.quantidade_de_parcelas }}</td>
                  <td>R$ {{  resultado.valor_parcela|stringformat:".2f"|to_virgula }}</td>
               </tr>
               <tr>
                  <th>valor emprestado</th>
                  <th>ispb</th>
                  <th>taxa juros</th>
                  <th>meses em ser</th>
                  <th>saldo devedor</th>
               </tr>
               <tr>
                  <td>R$ {{  resultado.valor_emprestado|stringformat:".2f"|to_virgula }}</td>
                  <td>{{  resultado.banco.numero_ispb }}</td>
                  <td>{{  resultado.taxa_de_juros|stringformat:".2f"|to_virgula }} %</td>
                  <td>{{  resultado.meses_em_ser }}</td>
                  <td>R$ {{  resultado.saldo_devedor|stringformat:".2f"|to_virgula }}</td>
               </tr>
            </table>
         </div>
         {% endfor %}
         {% endif %}
    </div>
    
</div>
{% endblock content %}