<footer>
    <div class='pcd-footer'>
        <div class="pcd-font-footer"><a href={% url 'pcd:pcd_form' %}><span class='arrow'>▸</span> página inicial</a></div>
        <div class="pcd-font-footer"><a href={% url 'pcd:pcd_calculos_do_dia' %}><span class='arrow'>▸</span> calculos do dia</a></div>
        <div class="pcd-font-footer"><a href='https://www3.bcb.gov.br/CALCIDADAO/publico/exibirFormFinanciamentoPrestacoesFixas.do?method=exibirFormFinanciamentoPrestacoesFixas'
                                target=#><span class='arrow'>▸</span> calculadora do cidadao</a></div>
        <div class="pcd-font-footer"><a href='https://meu.inss.gov.br/' target=#><span class='arrow'>▸</span> meu inss</a></div>
        <div class="pcd-font-footer"><a href='https://github.com/rcaliman' target=#><span class='arrow'>▸</span> rcaliman</a></div>
    </div>
</footer>