<footer>
    <div class="margem-rodape"></div>
    <nav class="navbar fixed-bottom bg-body-tertiary rodape" data-bs-theme="dark">
        <div class="container-fluid">
                &nbsp;     
                {% if user.is_authenticated %}
                    <span class="text-end">
                        <a class="nav-link text-warning" href="{% url 'cafe:cafe_login' %}?logout=True">logout</a>
                    </span>
                {% endif %}  
        </div>  
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</footer>